html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.container {
  width: 750px;
  margin: auto;
}

main {
  width: 100%;
  max-width: 1150px;
  margin: auto;
  text-align: center;
}

.hidden-menu-padding {
  padding-top: 60px;;
}

header.first-image-header {
  padding-top: 60px;
}

header.image-header {
  height: 300px;
}

header.image-header img {
  width: 100%;
  height: 100%;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 50px;
}

section p {
  margin-left: 16px;
  margin-right: 16px;
}

section.dark {
  background-color: #333;
}

h1 {
  margin: 0;
  font-size: 40px;
  float: left;
  line-height: 60px;
}

h2 {
  margin: 0;
  font-size: 37px;
}

ul {
  text-align: left;
}

.btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  border: 3px solid #F7F7F2;
  height: 44px;
  line-height: 44px;
  padding: 0px 18px;
  color: #F7F7F2;
  text-decoration: none;
  transition: .3s;
}

.btn:hover,
.btn:focus {
  color: #333;
  background-color: #F7F7F2;
  text-decoration: none;
  transition: .3s;
}

.btn-container {
  margin: auto;
  text-align:center;
}

.menu-btn {
  display: block;
  float: right;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  outline: 0;
}

.menu-btn img {
  width: 100%;
  height: 100%;
}

#menu-cover .menu-btn {
  overflow: hidden;
  position: fixed;
  z-index: 20;
}

.menu-btn:hover,
.menu-btn:focus {
  cursor: pointer;
}

#menu-cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: #FFF;
  background-color: #4B3B47;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  visibility: hidden;
}

#menu-cover ul {
  padding: 0;
  margin: auto;
  list-style: none;
  display: block;
  overflow: hidden;
  height: 300px;
  width: 300px;
}

#menu-cover ul li {
  display: block;
  float: left;
  height: 50%;
  width: 50%;
  text-align: center;
}

#menu-cover ul li a {
  display: block;
  color: #EDF7D2;
  width: 100%;
  height: 150px;
  transform: translateZ(0);
  transition-duration: 0.3s;
}

#menu-cover ul li a:before {
  background-color: #333;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#menu-cover ul li:nth-child(1) a:before {
  transform: scaleY(0);
  transform-origin: 50% 0;
  transition-property: transform;
  transition-delay: .1s;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#menu-cover ul li:nth-child(2) a:before {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition-property: transform;
  transition-delay: .1s;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#menu-cover ul li:nth-child(3) a:before {
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-delay: .1s;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

#menu-cover ul li:nth-child(4) a:before {
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition-property: transform;
  transition-delay: .1s;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}


#menu-cover ul li a:hover:before,
#menu-cover ul li a:focus:before {
  transform: scaleZ(1);
}

#menu-cover ul li a img {
  margin: auto;
}

#menu-cover ul li a span {
  float: left;
  width: 100%;
}

#menu-cover ul li img {
  margin-bottom: -3px;
}

li.archive,
ul.archive {
  list-style: none;
  padding: 0px;
}

/* Typography
 ========================================================================== */

h1 {
  margin: 0 0 0.25em;
  font-size: 2em;
}

h2 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-size: 1.125em;
  margin: 0 0 10px;
}

h1 > a,
h2 > a {
  position: relative;
  color: #333;
  text-decoration: none;
}

h1 > a:hover,
h1 > a:focus,
h2 > a:hover,
h2 > a:focus {
  color: #333;
  text-decoration: none;
}

h1 > a:before,
h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h1 > a:hover:before,
h1 > a:focus:before,
h2 > a:hover:before,
h2 > a:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

code:not([class*="language-"]) {
  background: #eee;
  border-radius: 3px;
  white-space: pre;
}

/* Links
 ========================================================================== */

a {
  color: #333;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #63615E;
  text-decoration: underline;
}

/* Post
 ========================================================================== */

.post {
  margin-bottom: 8px;
  font: 17px/1.7 Helvetica, Arial, sans-serif;
}

.post a,
:not(.post h2 a) {
  text-decoration: underline;
}

.date {
  display: block;
  text-align: center;
}

.share {
  width: 100%;
  border-top: 2px solid #4B3B47;
  border-bottom: 2px solid #4B3B47;
  height: 25px;
  padding-top: 3px;
  margin-bottom: 3px;
}

.share #___plusone_0,
.share .g-plusone {
  max-width: 60px;
}

.share #twitter-widget-0 {
  width: 81px !important;
}

.share .fb-like {
  bottom: 9px;
}

.post img {
  max-width: 100%;
}

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* *************** RESPONSIVE *************** */

@media only screen and (max-width: 750px) {
  .container {
    width: 100%;
  }

  .archive a:before {
    content: "\A";
    white-space: pre;
  }
}

/* *************** PRISM *************** */

pre.line-numbers {
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
}
