html * {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s;
}

html {
  font: 14px/1.4 Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  max-width: 840px;
  margin: 0 auto;
}

img {
  border: 0;
}

/* Links
 ========================================================================== */

a {
  color: #333;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #63615E;
  text-decoration: underline;
}

/* Header
 ========================================================================== */

@keyframes logo {
  25% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes logo {
  25% {
    -webkit-transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
  }
}

@-moz-keyframes logo {
  25% {
    -moz-transform: scale(1.1);
  }

  75% {
    -moz-transform: scale(0.9);
  }
}

header {
  height: 80px;
  text-align: center;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}

header img {
  height: 80px;
  margin-top: 10px;
}

header img {
  animation-name: logo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: logo;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: logo;
  -moz-animation-duration: 1.5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
}

/* Footer
 ========================================================================== */

footer p {
  text-align: center;
}

/* Typography
 ========================================================================== */

h1 {
  margin: 0 0 0.25em;
  font-size: 2em;
}

h2 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-size: 1.125em;
  margin: 0 0 10px;
}

h2 > a {
  position: relative;
  color: #333;
  text-decoration: none;
}

h2 > a:hover,
h2 > a:focus {
  color: #333;
  text-decoration: none;
}

h2 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

h2 > a:hover:before,
h2 > a:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Post
 ========================================================================== */

.post {
  margin-bottom: 8px;
  font: 17px/1.7 Helvetica, Arial, sans-serif;
}

.post a,
:not(.post h2 a) {
  text-decoration: underline;
}

.date {
  display: block;
  text-align: center;
}

.share {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  height: 25px;
  padding-top: 3px;
  margin-bottom: 3px;
}

.post img {
  max-width: 100%;
}

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* Pagination
 ========================================================================== */

.pagination {
  text-align: center;
  font: 17px/1.7 Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.pagination-item {
  display: inline-block;
  color: #333;
}

span.pagination-item,
span.pagination-item:hover {
  color: #737373;
}

.pagination-item:focus,
.pagination-item:active,
.pagination-item:hover {
  color: #333;
}

/* Archive
 ========================================================================== */

li.archive,
ul.archive {
  list-style: none;
  padding: 0px;
}

/* Custom Prism styles
 ========================================================================== */

pre.line-numbers {
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
}

/* Small screen adjustments
 ========================================================================== */

@media (max-width: 960px) {

  body {
    max-width: 620px;
  }

}

@media (max-width: 640px) {

  body {
    max-width: 300px;
  }

  .archive a:before {
    content: "\A";
    white-space: pre;
  }

}

/* Scrollbar
 ========================================================================== */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #eee;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}
