html,
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  text-align: center;
}

.container {
  width: 750px;
  margin: auto;
}

main {
  display: inline-block;
  width: 100%;
  max-width: 1150px;
  margin: auto;
  text-align: center;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 50px;
}

section.dark {
  background-color: #333;
}

h2 {
  margin: 0;
  font-size: 37px;
}

ul {
  text-align: left;
}

.btn {
  display: inline-block;
  margin: 0;
  text-align: center;
  border: 3px solid #F7F7F2;
  height: 44px;
  line-height: 44px;
  padding: 0px 18px;
  color: #F7F7F2;
  text-decoration: none;
  transition: .3s;
}

.btn:hover,
.btn:focus {
  color: #333;
  background-color: #F7F7F2;
  text-decoration: none;
  transition: .3s;
}

.btn-container {
  margin: auto;
  text-align:center;
}

div.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  width: 100%;
}

div.landing p {
  font-style: italic;
  max-width: 500px;
  padding-left: 5px;
  padding-right: 5px;
}

img.landing {
  float: left;
  width: 50%;
  height: auto;
}

nav {
  height: 50px;
}

nav ul {
  padding: 0;
  list-style: none;
  margin-top: 5px;
  margin-bottom: 0;
}

nav ul li {
  float: left;
  margin-left: 5px;
  line-height: 170%;
}

nav ul li:first-child {
  font-size: 110%;
  line-height: 140%;
}

/* Typography
 ========================================================================== */

h2 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

h3 {
  font-size: 1.125em;
  margin: 0 0 10px;
}

h2 > a {
  position: relative;
  color: #333;
  text-decoration: none;
}

code:not([class*="language-"]) {
  background: #eee;
  border-radius: 3px;
  white-space: pre;
}

.uppercase {
  text-transform: uppercase;
}

/* Links
 ========================================================================== */

a {
  color: #333;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #63615E;
  text-decoration: underline;
}

/* Post
 ========================================================================== */

.post {
  margin-bottom: 8px;
  font: 17px/1.7 Helvetica, Arial, sans-serif;
  text-align: left;
}

.post a,
:not(.post h2 a) {
  text-decoration: underline;
}

.date {
  display: block;
  text-align: center;
}

.share {
  width: 100%;
  border-top: 2px solid #4B3B47;
  border-bottom: 2px solid #4B3B47;
  height: 25px;
  padding-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

.post img {
  max-width: 100%;
}

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* *************** RESPONSIVE *************** */

@media only screen and (max-width: 750px) {
  .container {
    margin-left: 4px;
    margin-right: 4px;
    width: auto;
  }

  .archive a:before {
    content: "\A";
    white-space: pre;
  }
}

/* *************** PRISM *************** */

pre.line-numbers {
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;
}

pre {
  overflow: auto;
  word-break: normal !important;
  word-wrap: normal !important;
  white-space: pre !important;
}
