---
layout: nil
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>About</title>
		<meta charset="UTF-8"/>

		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,400" />
		{% include general-icons.html %}
	</head>
	<body>
{% include menu.html %}
		<h1>ABOUT</h1>
		<main>
			<header class="image-header first-image-header">
				<img src="http://abbe98.github.io/assets/orientering1.jpg" />
			</header>
			<section class="container">
				<h2>Albin Larsson</h2>
				<p>Hey, I'm Albin and currently I'm studying Technology: information and media technology and Orienteering in Nyköping Sweden. Most of my time is spent on orienteering, school, maps and open data projects. If I do get some free time you will probably find me in some forest making maps or hanging out with my friends(making maps).</p>
				<p>I work on a lot of projects mostly related to open, linked and spatial data. If you want to know what I'm up to checkout my blog or catch me during a conference!</p>
			</section>
			<section class="dark" style="height: calc(100vh - 758px) !important;">
				<a href="http://abbe98.github.io/blog/" class="btn">BLOG</a>
			</section>
		</main>
{% include global-javascript.html %}
	</body>
</html>