---
layout: nil
title: Archive
description: Archive for posts at abbe98.github.io
image: https://abbe98.github.io/assets/default2.png
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew"/>
		<title>{{ page.title }}</title>

		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:image" content="{{ page.image }}"/>
		<meta property="og:description" content="{{ page.description }}"/>

		<link rel="alternate" type="application/rss+xml" href="https://abbe98.github.io/blog/atom.xml" title="Abbes Blog"/>
		{% include general-icons.html %}
		<link rel="stylesheet" href="/css/style.css"/>
	</head>
	<body>
		<div class="top-container">
			<button onclick="toggleMenu()" class="menu-btn" aria-hidden="true">
				<img src="https://abbe98.github.io/icons/interface-menu-w.svg" />
			</button>
			<h1 class="uppercase">Archive</h1>
		</div>
{% include menu.html %}
		<div class="container">
			<div class="post">
				<ul class="archive">
					{% for post in site.posts %}
					<li class="archive">
						<span>{{ post.date | date: '%d %B %Y' }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<footer style="text-align: center;">
			<p>Copyright <a href="https://abbe98.github.io/">Albin Larsson</a> 2013-2016 • <a href="https://abbe98.github.io/blog/">Blog</a> • <a href="https://abbe98.github.io/blog/atom.xml">RSS</a></p>
		</footer>
{% include global-javascript.html %}
	</body>
</html>