---
layout: nil
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Albin Larsson</title>
		<meta charset="UTF-8"/>
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,400" />
		{% include general-icons.html %}
	</head>
	<body>
{% include menu.html %}
		<div class="landing">
			<h1 class="uppercase">Albin Larsson</h1>
			<p>Hi, I'm a software developer from Sweden who loves building crowd-sourcing tools and maps. In addition to my Wikimedia related projects over at the <a href="http://tools.wmflabs.org/hay/directory/#/author/Abbe98">WMF Tool Labs</a> and my public <a href="https://github.com/Abbe98">Github projects</a> I suggest you checkout my <a href="http://byabbe.se/blog/">Blog</a> or some of the sites below.</p>
			<div>
				<a href="https://biocaching.com/"><img class="landing" src="assets/biocaching_logo.svg" alt="Biocaching" /></a>
				<a href="http://kyrksok.se/"><img class="landing" src="assets/kyrksok_logo.svg" alt="Kyrksök" /></a>
			</div>
		</div>
{% include global-javascript.html %}
	</body>
</html>
