---
layout: nil
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Projects</title>
		<meta charset="UTF-8"/>

		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,400" />
	</head>
	<body>
{% include menu.html %}
		<h1>PROJECTS</h1>
		<main>
			<header class="image-header first-image-header">
				<img src="assets/biocaching.jpg" />
			</header>
			<section class="container">
				<h2>Biocaching</h2>
				<p>Biocaching is an online game in which the objective is to identify and document observations of plants, animals and other life forms out in the field.</p>
				<p>All types of species have value in the Biocaching game: plants, birds, mammals, insects, mushrooms, fishes; any species you come across. You start by taking a photo so that the species can be identified. An observation also includes the time and place and may optionally include other information, such as the number of individuals, a comment, gender, size, color and age or stage.</p>
				<p>After the observation is submitted in the game, you are rewarded with points. Players may get additional points for the amount of information submitted, being the first to observe a species in an area, to have observed all species within a predefined group, or other achievements. Players will also be able so see and interact with other players' observations, through comments and likes, which in turn can provide points.</p>
				<p>Observations will be forwarded to national and international databases for biodiversity observations. As such playing the Biocaching game is a contribution to research and environment monitoring.</p>
				<p>Biocaching has won several Open Data awards and has been recognized by the United Nations and governments. It's currently developed by  me, Alice Polenghi, Bjørn Hjelle and Peter Bremer.</p>
			</section>
			<section class="dark">
				<a href="http://biocaching.com/" class="btn">WEBSITE</a>
			</section>
		</main>
{% include global-javascript.html %}
	</body>
</html>