---
layout: nil
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>RÉSUMÉ</title>
		<meta charset="UTF-8"/>
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		{% include general-icons.html %}

		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,400" />
		<style>
		.custom-icons {
			list-style: none;
		}

		.custom-icons li img {
			height: 24px;
		}
		</style>
	</head>
	<body>
		<div class="top-container">
			<button onclick="toggleMenu()" class="menu-btn" aria-hidden="true">
				<img src="http://byabbe.se/icons/interface-menu-w.svg" />
			</button>
			<h1>RÉSUMÉ</h1>
		</div>
{% include menu.html %}

		<main>
			<div aria-hidden="true" class="hidden-menu-padding"></div>
			<section class="dark">
				<div class="btn-container">
					<a href="resume.html" class="btn">ENGLISH</a>
					<a href="resume-sv.html" class="btn">SVENSKA</a>
				</div>
			</section>
			<section class="container">
				<h2>GRUNNLEGGENDE</h2>
				<ul>
					<li>Navn: Albin Larsson</li>
					<li>Født: 25 januar 1998</li>
					<li>By: Nyköping Sverige</li>
					<li>Språk
						<ul>
							<li>Svensk - Morsmål</li>
							<li>Engelsk - Avansert</li>
							<li>Norsk(Bokmål) - Grunnleggende</li>
						</ul>
					</li>
				</ul>

				<h2>INGRESS</h2>
				<p>Født 25 januar 1998 i Katrineholm, flyttet til Nyköping i 2014 for å studere Elite Orientering og Media og Informasjons teknologi ved Nyköpings Gymnasium(videregående).</p>
				<p>2015 grunnla jeg sammen med tre andre Biocaching(og lærte meg da også norsk), jeg ble også involvert i Wikimedia bevegelsen, alt dette som et resultat av tidligere arbeider med åpen data.</p>
				<p>At lage crowd-sourcing applikasjoner er en daglig hobby akkurat som orientering og kart.</p>

				<h2>ERFARING</h2>
				<ul class="custom-icons">
					<li><img src="icons/education.svg" aria-hidden="true" />2014- Elite Orientering og Media og Informasjons teknologi - Nyköpings Gymnasium</li>
					<li><img src="icons/awarded.svg" aria-hidden="true" />2015/06 Biocaching prosjektet ble belønnet på Hack4NO</li>
					<li><img src="icons/job.svg" aria-hidden="true" />2015/07-2015/09 Frilans frontend konsulent for Wikimaps Warper prosjektet(Wikimedia Suomi)</li>
					<li><img src="icons/awarded.svg" aria-hidden="true" />2015/10 Biocaching prosjektet ble belønnet på Eye on Earth i Abu Dhabi</li>
					<li><img src="icons/awarded.svg" aria-hidden="true" />2015/11 Biocaching prosjektet ble belønnet på Slush</li>
					<li><img src="icons/job.svg" aria-hidden="true" />2016/01- Frontend konsulent for Wikimaps Wraper prosjektet takk være økonomisk støtte fra Wikimedia Foundation</li>
				</ul>

				<h2>KUNNSKAP</h2>
				<p>Utvalg av teknologier jeg bruker <b>ofte</b>, dere kan spørre om annet.</p>
				<ul>
					<li><b>Frontend</b>
						<ul>
							<li>HTML/&shy;ARIA</li>
							<li>CSS/&shy;LESS</li>
							<li>Ecmascript&shy;(Javascript)</li>
						</ul>
					</li><br>

					<li><b>Backend</b>
						<ul>
							<li>PHP</li>
							<li>Python</li>
							<li>SQL</li>
							<li>MySQL/&shy;MariaDB/&shy;PostgreSQL</li>
							<li>REST</li>
						</ul>
					</li><br>

					<li><b>APIs</b>
						<ul>
							<li>Leaflet.js</li>
							<li>Mapbox.js</li>
							<li>OpenLayers</li>
							<li>Slack API</li>
							<li>Yahoo Query Language API</li>
							<li>Google Maps API</li>
							<li>MediaWiki API</li>
							<li>Wikidata APIs</li>
							<li>OpenStreetMap API</li>
							<li>Overpass API</li>
							<li>Mapzen Search</li>
						</ul>
					</li><br>

					<li><b>Annet</b>
						<ul>
							<li>C#</li>
							<li>R</li>
							<li>Java&shy;(Android)</li>
							<li>XML</li>
							<li>JSON</li>
							<li>RDF</li>
							<li>Google App Engine</li>
							<li>CartoCSS</li>
							<li>SVG</li>
						</ul>
					</li>
				</ul>
			</section>
			<section class="dark">
				<a href="http://byabbe.se/assets/resume-no.pdf" class="btn">PDF</a>
			</section>
		</main>
{% include global-javascript.html %}
	</body>
</html>