---
layout: nil
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Résumé</title>
		<meta charset="UTF-8"/>

		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,400" />
		<style>
		.custom-icons {
			list-style: none;
		}

		.custom-icons li img {
			height: 24px;
		}
		</style>
	</head>
	<body>
{% include menu.html %}
		<h1>RÉSUMÉ</h1>
		<main>
			<div aria-hidden="true" class="hidden-menu-padding"></div>
			<section class="dark">
				<div class="btn-container">
					<a href="resume-sv.html" class="btn">SVENSKA</a>
					<a href="resume-no.html" class="btn">NORSK</a>
				</div>
			</section>
			<section class="container">
				<h2>BASIC INFORMATION</h2>
				<ul>
					<li>Name: Albin Larsson</li>
					<li>Born: 25th January 1998</li>
					<li>Current location: Nyköping Sweden</li>
					<li>Languages
						<ul>
							<li>Swedish - Native</li>
							<li>English - Advanced</li>
							<li>Norwegian&shy;(Bokmål) - Basic</li>
						</ul>
					</li>
				</ul>

				<h2>INGRESS</h2>
				<p>Born on the 25th January 1998 in Katrineholm Sweden, moved to Nyköpning during 2014 to study Elite Orienteering and Media & Information Technology.</p>
				<p>In 2015 I co-founded the Biocaching project(learned Norwegian by the way), got involved with the Wikimedia movement, as a result of my past work with open data.</p>
				<p>Making applications for crowd-sourcing is a daily hobby just as orienteering and maps.</p>

				<h2>EXPERIENCE</h2>
				<ul class="custom-icons">
					<li><img src="icons/education.svg" aria-hidden="true" />2014- Elite Orienteering and Media & Information Technology - Nyköpings Gymnasium</li>
					<li><img src="icons/awarded.svg" aria-hidden="true" />2015/06 The Biocaching project got awarded at Hack4NO</li>
					<li><img src="icons/job.svg" aria-hidden="true" />2015/07-2015/09 Freelancing Frontend Consult for the Wikimaps Warper project(Wikimedia Suomi)</li>
					<li><img src="icons/awarded.svg" aria-hidden="true" />2015/10 The Biocaching project got awarded at Eye on Earth in Abu Dhabi</li>
					<li><img src="icons/awarded.svg" aria-hidden="true" />2015/11 The Biocaching project got awarded at Slush</li>
					<li><img src="icons/job.svg" aria-hidden="true" />2016/01- Frontend Consult for the Wikimaps Wraper project thanks to grant from the Wikimedia Foundation</li>
				</ul>

				<h2>KNOWLEDGE</h2>
				<p>Selection of technologies that I use <b>often</b>, feel free to ask about other ones.</p>
				<ul>
					<li><b>Frontend</b>
						<ul>
							<li>HTML/&shy;ARIA</li>
							<li>CSS/&shy;LESS</li>
							<li>Ecmascript&shy;(Javascript)</li>
						</ul>
					</li><br>

					<li><b>Backend</b>
						<ul>
							<li>PHP</li>
							<li>Python</li>
							<li>SQL</li>
							<li>MySQL/&shy;MariaDB/&shy;PostgreSQL</li>
							<li>REST</li>
						</ul>
					</li><br>

					<li><b>APIs</b>
						<ul>
							<li>Leaflet.js</li>
							<li>Mapbox.js</li>
							<li>OpenLayers</li>
							<li>Slack API</li>
							<li>Yahoo Query Language API</li>
							<li>Google Maps API</li>
							<li>MediaWiki API</li>
							<li>Wikidata APIs</li>
							<li>OpenStreetMap API</li>
							<li>Overpass API</li>
							<li>Mapzen Search</li>
						</ul>
					</li><br>

					<li><b>Other</b>
						<ul>
							<li>C#</li>
							<li>R</li>
							<li>Java&shy;(Android)</li>
							<li>XML</li>
							<li>JSON</li>
							<li>RDF</li>
							<li>Google App Engine</li>
							<li>CartoCSS</li>
							<li>SVG</li>
						</ul>
					</li>
				</ul>
			</section>
			<section class="dark">
				<a href="http://abbe98.github.io/assets/resume.pdf" class="btn">PDF</a>
			</section>
		</main>
{% include global-javascript.html %}
	</body>
</html>