---
layout: nil
---
<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>RÉSUMÉ</title>
		<meta charset="UTF-8"/>
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		{% include general-icons.html %}

		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700,400" />
		<style>
		.custom-icons {
			list-style: none;
		}

		.custom-icons li img {
			height: 24px;
		}
		</style>
	</head>
	<body>
		<div class="top-container">
			<button onclick="toggleMenu()" class="menu-btn" aria-hidden="true">
				<img src="https://abbe98.github.io/icons/interface-menu-w.svg" />
			</button>
			<h1>RÉSUMÉ</h1>
		</div>
{% include menu.html %}

		<main>
			<div aria-hidden="true" class="hidden-menu-padding"></div>
			<section class="dark">
				<div class="btn-container">
					<a href="resume.html" class="btn">ENGLISH</a>
					<a href="resume-no.html" class="btn">NORSK</a>
				</div>
			</section>
			<section class="container">
				<h2>GRUNDLÄGGANDE</h2>
				<ul>
					<li>Namn: Albin Larsson</li>
					<li>Född: 25 januari 1998</li>
					<li>Bostadsort: Nyköping</li>
					<li>Språk
						<ul>
							<li>Svenska - Modersmål</li>
							<li>Engelska - Avancerad</li>
							<li>Norska(Bokmål) - Grundläggande</li>
						</ul>
					</li>
				</ul>

				<h2>INGRESS</h2>
				<p>Född 25 januari 1998 i Katrineholm, flyttade till Nyköping under 2014 för att studera NIU Orientering och Media och informationsteknik vid Nyköpings Gymnasium.</p>
				<p>2015 grundade jag tillsammans med tre andra Biocaching(och lärde mig Norska i processen), jag blev också involverad i Wikimedia rörelsen, allt detta som ett resultat av mitt tidigare arbete med öppna data.</p>
				<p>Att skapa crowd-sourcing applikationer är en daglig hobby precis som orientering och kartor.</p>

				<h2>ERFARENHET</h2>
				<ul class="custom-icons">
					<li><img src="icons/education.svg" aria-hidden="true" />2014- NIU Orientering och Media och informationsteknik - Nyköpings Gymnasium</li>
					<li><img src="icons/awarded.svg" aria-hidden="true" />2015/06 Biocaching projektet blev belönat vid Hack4NO</li>
					<li><img src="icons/job.svg" aria-hidden="true" />2015/07-2015/09 Frilansande frontend konsult för Wikimaps Warper projektet(Wikimedia Suomi)</li>
					<li><img src="icons/awarded.svg" aria-hidden="true" />2015/10 Biocaching projektet blev belönat på Eye on Earth i Abu Dhabi</li>
					<li><img src="icons/awarded.svg" aria-hidden="true" />2015/11 Biocaching projektet blev belönat på Slush i Helsingfors</li>
					<li><img src="icons/job.svg" aria-hidden="true" />2016/01- Frontend Konsult för Wikimaps Wraper projektet tack vare ekonomiska medel från Wikimedia Foundation</li>
				</ul>

				<h2>KUNSKAP</h2>
				<p>Urval av teknik jag använder <b>ofta</b>, fråga gärna om annat.</p>
				<ul>
					<li><b>Frontend</b>
						<ul>
							<li>HTML/&shy;ARIA</li>
							<li>CSS/&shy;LESS</li>
							<li>Ecmascript&shy;(Javascript)</li>
						</ul>
					</li><br>

					<li><b>Backend</b>
						<ul>
							<li>PHP</li>
							<li>Python</li>
							<li>SQL</li>
							<li>MySQL/&shy;MariaDB/&shy;PostgreSQL</li>
							<li>REST</li>
						</ul>
					</li><br>

					<li><b>APIs</b>
						<ul>
							<li>Leaflet.js</li>
							<li>Mapbox.js</li>
							<li>OpenLayers</li>
							<li>Slack API</li>
							<li>Yahoo Query Language API</li>
							<li>Google Maps API</li>
							<li>MediaWiki API</li>
							<li>Wikidata APIs</li>
							<li>OpenStreetMap API</li>
							<li>Overpass API</li>
							<li>Mapzen Search</li>
						</ul>
					</li><br>

					<li><b>Övrigt</b>
						<ul>
							<li>C#</li>
							<li>R</li>
							<li>Java&shy;(Android)</li>
							<li>XML</li>
							<li>JSON</li>
							<li>RDF</li>
							<li>Google App Engine</li>
							<li>CartoCSS</li>
							<li>SVG</li>
						</ul>
					</li>
				</ul>
			</section>
			<section class="dark">
				<a href="https://abbe98.github.io/assets/resume-sv.pdf" class="btn">PDF</a>
			</section>
		</main>
{% include global-javascript.html %}
	</body>
</html>