html {
	font: 14px/1.4 Helvetica, Arial, sans-serif;
	color: #333;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	max-width: 940px;
	margin: 0 auto;
	background-image: url('assets/background.jpg');
}

/* btn
 ========================================================================== */

.btn {
	display: block;
	height: 35px;
	width: 200px;
	line-height: 50px;
	background-color: #79BD9A;
	color: #333;
	font: 17px/1.7 Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-align: center;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.btn:hover, .btn:active, .btn:focus {
	color: #333;
	background-color: #3B8686;
}

/* Links
 ========================================================================== */

a {
	color: rgb(11, 72, 107);
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #3B8686;
	text-decoration: underline;
}

/* Header
 ========================================================================== */

header {
	height: 3.5em;
}

header h1 {
	font-size: 3em;
	margin: 0;
}

header img {
	height: 3em;
	float: left;
	padding-right: 5px;
}

/* Typography
 ========================================================================== */

h2 {
	margin: 0px;
}

h1 {
	margin: 0 0 0.25em;
	font-size: 2em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.125em;
	color: #777;
	margin: 0 0 10px;
}

/* Posts
 ========================================================================== */

.post {
	position: relative;
	display: block;
	padding: 5px;
	border: 4px solid #79BD9A;
	text-decoration: none;
	background: rgb(247, 240, 240);
	margin-bottom: 8px;
	font: 17px/1.7 Helvetica, Arial, sans-serif;
}

.post a {
	text-decoration: underline;
}

.date {
	font: 14px/1.4 Helvetica,Arial,sans-serif;
	margin-top: 2px;
	margin-bottom: 2px;
}

.share {
	width: 100%;
	border-top: 2px solid #79BD9A;
	border-bottom: 2px solid #79BD9A;
	height: 25px;
	padding-top: 3px;
	margin-bottom: 3px;
}

.post img {
	max-width: 100%;
}

/* Archive
 ========================================================================== */

li.archive, ul.archive {
	list-style: none;
	padding: 0px;
}

/* =============================================================================
 Small screen adjustments
 ========================================================================== */

@media (max-width: 960px) {

	body {
		max-width: 620px;
	}

}

@media (max-width: 640px) {

	body {
		max-width: 300px;
	}

}
