html {
	font: 14px/1.4 Helvetica, Arial, sans-serif;
	color: #333;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	max-width: 940px;
	margin: 0 auto;
	background-image: url('assets/subway-lines.png');
}

img {
	border: 0;
}

/* btn
 ========================================================================== */

.btn {
	display: block;
	height: 35px;
	width: 200px;
	line-height: 50px;
	background-color: #78FF69;
	color: #333;
	font: 17px/1.7 Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-align: center;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.btn:hover, .btn:active, .btn:focus {
	color: #333;
	background-color: #C3FF68;
}

/* Links
 ========================================================================== */

a {
	color: #FFAC26;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #FF9D00;
	text-decoration: underline;
}

/* Header
 ========================================================================== */

header {
	height: 3.5em;
}

header h1 {
	font-size: 3em;
	margin: 0;
}

header img {
	height: 3em;
	float: left;
	padding-right: 5px;
}

/* Footer
 ========================================================================== */

footer p {
	text-align: center;
}

/* Typography
 ========================================================================== */

h2 {
	margin: 0px;
}

h1 {
	margin: 0 0 0.25em;
	font-size: 2em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.125em;
	color: #777;
	margin: 0 0 10px;
}

/* Posts
 ========================================================================== */

.post {
	position: relative;
	display: block;
	padding: 5px;
	border: 4px solid #C3FF68;
	text-decoration: none;
	background: rgb(247, 240, 240);
	margin-bottom: 8px;
	font: 17px/1.7 Helvetica, Arial, sans-serif;
}

.post a {
	text-decoration: underline;
}

.date {
	font: 14px/1.4 Helvetica,Arial,sans-serif;
	margin-top: 2px;
	margin-bottom: 2px;
}

.share {
	width: 100%;
	border-top: 2px solid #C3FF68;
	border-bottom: 2px solid #C3FF68;
	height: 25px;
	padding-top: 3px;
	margin-bottom: 3px;
}

.post img {
	max-width: 100%;
}

pre {
	display: block;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

/* Archive
 ========================================================================== */

li.archive, ul.archive {
	list-style: none;
	padding: 0px;
}

/* Small screen adjustments
 ========================================================================== */

@media (max-width: 960px) {

	body {
		max-width: 620px;
	}

}

@media (max-width: 640px) {

	body {
		max-width: 300px;
	}
	
	.archive a:before {
		content: "\A";
		white-space: pre;
	}

}

/* Scrollbar
 ========================================================================== */
::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #C3FF68;
}

::-webkit-scrollbar-track {
	background-color: #EEE;
}

/* Social-bar
 ========================================================================== */
.social-bar {
	overflow: auto;
	width: 100%;
	margin: 0 auto;
}

.social-bar__item {
	width: 20%;
	float: left;
	cursor: pointer;
	text-align: center;
	line-height: 25px;
	border-top: 10px solid;
	overflow: hidden;
	-webkit-transition: border-width .25s ease;
	-moz-transition: border-width .25s ease;
	-ms-transition: border-width .25s ease;
	-o-transition: border-width .25s ease;
	transition: border-width .25s ease;
}

.social-bar__item:hover,
.social-bar-2__item:focus {
	border-top-width: 0;
}

.social-bar__item--twitter {
	border-top-color: #00ACED;
}

.social-bar__item--github {
	border-top-color: #D9D9D9;
}

.social-bar__item--openstreetmap {
	border-top-color: #7EBC6F;
}

.social-bar__item--google {
	border-top-color: #DD4B39;
}

.social-bar__item--somewhere {
	border-top-color: #14263E;
}

.social-bar__item__text {
	display: block;
	opacity: 0;
	font-size: 12px;

	-webkit-transition: .25s ease;
	-moz-transition: .25s ease;
	-o-transition: .25s ease;
	transition: .25s ease;

	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-o-transform: translateY(10px);
	transform: translateY(10px);
}

.social-bar__item__text:hover {
	text-decoration: none;
}

.social-bar__item:hover .social-bar__item__text,
.social-bar__item:focus .social-bar__item__text {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);

	opacity: 1;
}