html {
	font: 14px/1.4 Helvetica, Arial, sans-serif;
	color: #333;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	max-width: 940px;
	margin: 0 auto;
	background-image: url('background.jpg');
}

/* Menu
 ========================================================================== */

nav {
	background-color: #FF8A00;
	height: 35px;
	margin-bottom: 8px;
	font: 17px/1.7 Helvetica, Arial, sans-serif;
	border-radius: 0px 0px 4px 4px;
}

a[role="menuitem"] {
	display: block;
	width: 50%;
	height: 35px;
	text-align: center;
	color: #333;
	float: left;
	font-weight: 600;
	border-radius: 0px 0px 0px 4px;
}

a[role="menuitem"]:last-child {
	border-radius: 0px 0px 4px 0px;
}

nav a:hover, nav a:active, a div:focus {
	color: #333;
	background-color: #EF870E;
}

/* btn
 ========================================================================== */

.btn {
	display: block;
	height: 35px;
	width: 200px;
	line-height: 50px;
	background-color: #FF8A00;
	color: #333;
	font: 17px/1.7 Helvetica, Arial, sans-serif;
	font-weight: 600;
	border-radius: 4px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.btn:hover, .btn:active, .btn:focus {
	color: #333;
	background-color: #EF870E;
}

/* Links
 ========================================================================== */

a {
	color: #FF8A00;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #EF870E;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/* Typography
 ========================================================================== */

p {
	margin-top: 2px;
	margin-bottom: 2px;
}

h1, h2 {
	margin: 0 0 1em;
}

h1, .h1 {
	margin: 0 0 0.25em;
	font-size: 2.75em;
}

h2, .h2 {
	font-size: 1.25em;
}

h3, .h3 {
	font-size: 1.125em;
	color: #777;
	margin: 0 0 10px;
}

/* Posts
 ========================================================================== */

.post {
	position: relative;
	display: block;
	padding: 5px;
	border: 4px solid #FF8A00;
	border-radius: 4px;
	text-decoration: none;
	background: #F7F0F0;
	margin-bottom: 8px;
	font: 17px/1.7 Helvetica, Arial, sans-serif;
}

/* Archive
 ========================================================================== */

li, ul {
	list-style: none;
	padding: 0px;
}

/* =============================================================================
 Small screen adjustments
 ========================================================================== */

@media (max-width: 960px) {

	body {
		max-width: 620px;
	}

}

@media (max-width: 640px) {

	body {
		max-width: 300px;
	}

}
