html {
	font: 14px/1.4 Helvetica, Arial, sans-serif;
	color: #333;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	max-width: 940px;
	padding: 20px 10px;
	margin: 0 auto;
	background-image: url('background.jpg');
}

nav {
	background-color: #FF8A00;
}

nav a:hover, nav a:active, a div:focus {
	background-color: #EF870E;
	display: block;
}

/* Links
 ========================================================================== */

a {
	color: #FF8A00;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	color: #EF870E;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/* Typography
 ========================================================================== */

h1, h2 {
	margin: 0 0 1em;
}

h1, .h1 {
	margin: 0 0 0.25em;
	font-size: 2.75em;
}

h2, .h2 {
	font-size: 1.25em;
}

h3, .h3 {
	font-size: 1.125em;
	color: #777;
	margin: 0 0 10px;
}

/* Box
 ========================================================================== */

.post {
	position: relative;
	display: block;
	padding: 5px;
	border: 4px solid #FF8A00;
	border-radius: 4px;
	text-decoration: none;
	background: #F7F0F0;
	margin-bottom: 8px;
	font: 17px/1.7 Helvetica, Arial, sans-serif;
}

/* =============================================================================
 Small screen adjustments
 ========================================================================== */

@media (max-width: 960px) {

	body {
		max-width: 620px;
	}

}

@media (max-width: 640px) {

	body {
		max-width: 300px;
	}

}
