		<script type="text/javascript">
			// MENU
			var menuOpen = false;
			function toggleMenu() {
			  if (menuOpen === false) {
			    document.getElementById('menu-cover').style.visibility = 'visible';
			    menuOpen = true;
			  } else {
			    document.getElementById('menu-cover').style.visibility = 'hidden';
			    menuOpen = false;
			  }
			}

			var a = ["“Always watch where you are going. Otherwise, you may step on a piece of the Forest that was left out by mistake.“ said Pooh","”...if Bears were Bees, They'd build their nests at the bottom of trees...” - Pooh","”What day is it?”\n“It’s today,” squeaked Piglet.\n“My favorite day,” said Pooh.","”It’s snowing still,” said Eeyore gloomily.\n“So it is.”\n“And freezing.”\n“Is it?”\n“Yes,” said Eeyore. “However,” he said, brightening up a little, “we haven’t had an earthquake lately.”","”What are we doing, Piglet?”\n”I'm going to launch you to Mars on the rocket I built.”\n”Oh, Ok”"]
			var n = Math.floor(Math.random() * (a.length));
			console.log(a[n]);

			console.log("\nCurious about something?\nhttp://abbe98.github.io/blog/\nhttp://abbe98.github.io/resume.html");
		</script>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-46289504-1', 'auto');
		  ga('send', 'pageview');

		</script>