		<nav id="menu-cover">
			<button onclick="toggleMenu()" class="menu-btn" aria-hidden="true">
				<img src="http://byabbe.se/icons/interface-close-w.svg" />
			</button>
			<ul>
				<li>
					<a href="http://byabbe.se/index.html">
						<img aria-hidden="true" src="http://byabbe.se/icons/home-rounded.svg">
						<span class="uppercase">Home</span>
					</a>
				</li>
				<li>
					<a href="http://byabbe.se/projects.html">
						<img aria-hidden="true" src="http://byabbe.se/icons/labs-rounded.svg">
						<span class="uppercase">Projects</span>
					</a>
				</li>
				<li>
					<a href="http://byabbe.se/about.html">
						<img aria-hidden="true" src="http://byabbe.se/icons/about-rounded.svg">
						<span class="uppercase">About</span>
					</a>
				</li>
				<li>
					<a href="http://byabbe.se/blog/index.html">
						<img aria-hidden="true" src="http://byabbe.se/icons/blog-rounded.svg">
						<span class="uppercase">Blog</span>
					</a>
				</li>
			</ul>
		</nav>