		<button onclick="toggleMenu()" class="menu-btn" aria-hidden="true">
			<img src="icons/interface-menu-w.svg" />
		</button>
		<nav id="menu-cover">
			<button onclick="toggleMenu()" class="menu-btn" aria-hidden="true">
				<img src="icons/interface-close-w.svg" />
			</button>
			<ul>
				<li>
					<a href="index.html">
						<img aria-hidden="true" src="icons/home-rounded.svg">
						<span>HOME</span>
					</a>
				</li>
				<li>
					<a href="projects.html">
						<img aria-hidden="true" src="icons/labs-rounded.svg">
						<span>PROJECTS</span>
					</a>
				</li>
				<li>
					<a href="about.html">
						<img aria-hidden="true" src="icons/about-rounded.svg">
						<span>ABOUT</span>
					</a>
				</li>
				<li>
					<a href="blog/index.html">
						<img aria-hidden="true" src="icons/blog-rounded.svg">
						<span>BLOG</span>
					</a>
				</li>
			</ul>
		</nav>