		<nav id="menu-cover">
			<button onclick="toggleMenu()" class="menu-btn" aria-hidden="true">
				<img src="https://abbe98.github.io/icons/interface-close-w.svg" />
			</button>
			<ul>
				<li>
					<a href="https://abbe98.github.io/index.html">
						<img aria-hidden="true" src="https://abbe98.github.io/icons/home-rounded.svg">
						<span class="uppercase">Home</span>
					</a>
				</li>
				<li>
					<a href="https://abbe98.github.io/projects.html">
						<img aria-hidden="true" src="https://abbe98.github.io/icons/labs-rounded.svg">
						<span class="uppercase">Projects</span>
					</a>
				</li>
				<li>
					<a href="https://abbe98.github.io/about.html">
						<img aria-hidden="true" src="https://abbe98.github.io/icons/about-rounded.svg">
						<span class="uppercase">About</span>
					</a>
				</li>
				<li>
					<a href="https://abbe98.github.io/blog/index.html">
						<img aria-hidden="true" src="https://abbe98.github.io/icons/blog-rounded.svg">
						<span class="uppercase">Blog</span>
					</a>
				</li>
			</ul>
		</nav>