---
layout: nil
title: Blog
description: Albin Larssons blog about web development, open data, web accessibility and maps.
image: http://abbe98.github.io/assets/default.png
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew"/>
		<title>{{ page.title }}</title>

		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:image" content="{{ page.image }}"/>
		<meta property="og:description" content="{{ page.description }}"/>

		<link rel="alternate" type="application/rss+xml" href="http://abbe98.github.io/blog/atom.xml" title="Abbes Blog"/>
		<link rel="icon" href="/favicon.ico" type="shortcut icon"/>
		<link rel="stylesheet" href="/css/style.css"/>
	</head>
	<body>
		<header>
			<a href="http://abbe98.github.io/"><img alt="A nice looking logo that can take you to my start page." src="http://abbe98.github.io/assets/default.png"></a>
		</header>
			{% for post in paginator.posts %}
		<article class="post">
			<h2><a href="{{ post.url }}" title="{{ post.title | xml_escape }}">{{ post.title }}</a></h2>
			<small class="date">
				{% assign day = post.date | date: '%d' %}
				{% case day %}
					{% when '01', '21', '31' %}
						{% assign suffix = 'st' %}
					{% when '02', '22' %}
						{% assign suffix = 'nd' %}
					{% when '03', '23' %}
						{% assign suffix = 'rd' %}
					{% else %}
						{% assign suffix = 'th' %}
				{% endcase %}
				{{ post.date | date: '%e' }}{{ suffix }}{{ post.date | date: ' %B %Y' }}
			</small>
			{{ post.content }}
		</article>
		{% endfor %}
		<div class="pagination">
		{% if paginator.next_page %}
			<a class="pagination-item" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
		{% else %}
			<span class="pagination-item" aria-hidden="true">Older</span>
		{% endif %}
		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="pagination-item" href="{{ site.baseurl }}">Newer</a>
			{% else %} <a class="pagination-item" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
			{% endif %}
		{% else %}
			<span class="pagination-item" aria-hidden="true">Newer</span>
		{% endif %}
		</div>
		<footer>
			<p>Copyright <a href="https://plus.google.com/117416771865902932932">Albin Larsson</a> 2013-2015 • <a href="http://abbe98.github.io/archive.html">Archive</a> • <a href="http://abbe98.github.io/blog/atom.xml">RSS</a></p>
		</footer>

		<script src="/js/prism.js"></script>
		<link rel="stylesheet" href="/css/prism.css"/>
	</body>
</html>