<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew" />
		<title>{{ page.title }}</title>
		<meta property="og:image" content="https://2.gravatar.com/avatar/e2d1aa4d18da15648214097a5cca4c89?d=https%3A%2F%2Fidenticons.github.com%2F1ebbe16599ce28ff52bbf0aeb2cd02e3.png&r=x&s=440"/>
		<meta name="description" content="Albin Larssons blog about all the things behind what you see on the web."/>
		<link rel="icon" href="http://abbe98.github.io/favicon.ico" type="shortcut icon"/>
		<link rel="stylesheet" href="/style.css"/>
	</head>
	<body>
		<nav role="menubar">
			<a href="http://abbe98.github.io" role="menuitem"> Blog </a>
			<a href="http://abbe98.github.io/repositories.html" role="menuitem"> Projects </a>
		</nav>
		{{ content }}
	</body>
	<script>
	//Google+
	(function() {
		var po = document.createElement('script');
		po.type = 'text/javascript';
		po.async = true;
		po.src = 'https://apis.google.com/js/platform.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(po, s);
	})(); 

	//Twitter
	! function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (!d.getElementById(id)) {
			js = d.createElement(s);
			js.id = id;
			js.src = "https://platform.twitter.com/widgets.js";
			fjs.parentNode.insertBefore(js, fjs);
		}
	}(document, "script", "twitter-wjs"); 
	</script>
</html>