<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset='utf-8' />
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew"/>
		<title>{{ page.title }}</title>

		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:image" content="{{ page.image }}"/>
		<meta property="og:description" content="{{ page.description }}"/>

		<link rel="alternate" type="application/rss+xml" href="http://abbe98.github.io/blog/atom.xml" title="Abbes Blog"/>
		<link rel="icon" href="/favicon.ico" type="shortcut icon"/>
		<link rel="stylesheet" href="/style.css"/>
	</head>
	<body>
		<header>
			<img alt="A nice looking face." src="http://abbe98.github.io/assets/default.png">
			<h1>Abbe</h1>
		</header>
		{{ content }}
		<footer>
			<section class="social-bar">
				<div class="social-bar__item  social-bar__item--twitter">
					<a target="_blank" href="https://twitter.com/AlbinPCLarsson" class="social-bar__item__text">Twitter</a>
				</div>
				<div class="social-bar__item  social-bar__item--somewhere">
					<a target="_blank" href="https://www.somewhere.com/abbe" class="social-bar__item__text">SomeWhere</a>
				</div>
				<div class="social-bar__item  social-bar__item--github">
					<a target="_blank" href="https://github.com/Abbe98" class="social-bar__item__text">Github</a>
				</div>
				<div class="social-bar__item  social-bar__item--openstreetmap">
					<a target="_blank" href="https://www.openstreetmap.org/user/Abbe98" class="social-bar__item__text">OpenStreetMap</a>
				</div>
				<div class="social-bar__item  social-bar__item--google">
					<a target="_blank" href="https://plus.google.com/117416771865902932932" class="social-bar__item__text">Google</a>
				</div>
			</section>
			<p>Copyright <a href="https://plus.google.com/117416771865902932932">Albin Larsson</a> 2013-2014 • <a href="http://abbe98.github.io/archive.html">Archive</a> • Background by <a href="http://www.marcbanderson.com">Marc Anderson</a> • <a href="http://abbe98.github.io/blog/atom.xml">RSS</a></p>
		</footer>
	</body>
</html>