<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew"/>
		<title>{{ page.title }}</title>
		<meta property="og:image" content="{{ page.image }}"/>
		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:description" content="{{ page.description }}"/>
		<link rel="icon" href="/favicon.ico" type="shortcut icon"/>
		<link rel="stylesheet" href="/style.css"/>
	</head>
	<body>
		<header>
			<img alt="A nice looking face." src="http://abbe98.github.io/assets/default.png">
			<h1>Abbe</h1>
		</header>
		{{ content }}
		<footer><p>Copyright <a href="https://plus.google.com/117416771865902932932">Albin Larsson</a> 2013-2014 • <a href="https://www.somewhere.com/abbe">Somewhere</a> • <a href="https://github.com/Abbe98">Github</a></p></footer>
	</body>
</html>
