---
layout: nil
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew"/>
		<title>{{ page.title }}</title>

		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:image" content="{{ page.image }}"/>
		<meta property="og:description" content="{{ page.description }}"/>

		<link rel="alternate" type="application/rss+xml" href="http://abbe98.github.io/blog/atom.xml" title="Abbes Blog"/>
		<link rel="icon" href="/favicon.ico" type="shortcut icon"/>
		<link rel="stylesheet" href="/css/style.css"/>
	</head>
	<body>
{% include menu.html %}
		<h1>BLOG</h1>
		<article class="post" style="padding-top: 60px;">
			<h2>{{ page.title }}</h2>
			{{ content }}
			<div class="share print-hidden">
				<div class="g-plusone" data-size="medium"></div><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a><div class="fb-like" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
			</div>
			<div id="disqus_thread" class="print-hidden"></div>
			<noscript>
				Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
			</noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</article>
		<footer>
			<p>Copyright <a href="http://abbe98.github.io/">Albin Larsson</a> 2013-2016 • <a href="http://abbe98.github.io/archive.html">Archive</a> • <a href="http://abbe98.github.io/blog/atom.xml">RSS</a></p>
		</footer>

		<div id="fb-root"></div>
		<script src="/js/prism.js"></script>
		<link rel="stylesheet" href="/css/prism.css"/>
		<script type="text/javascript">
			//Disqus
			var disqus_shortname = 'abbe';
			var disqus_identifier = '{{ page.id }}';
			var disqus_url = 'http://abbe98.github.io/blog{{ page.url }}';

			(function() {
				var dsq = document.createElement('script');
				dsq.type = 'text/javascript';
				dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();

			//Facebook
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1578579192389207&version=v2.3";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

			//Google+
			(function() {
				var po = document.createElement('script');
				po.type = 'text/javascript';
				po.async = true;
				po.src = 'https://apis.google.com/js/platform.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(po, s);
			})();

			//Twitter
			! function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = "https://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, "script", "twitter-wjs");
		</script>
{% include global-javascript.html %}
	</body>
</html>
