---
layout: nil
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta id="viewport" name="viewport" content ="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="google-site-verification" content="ggbSb9CvyxZ8PpDwiViwiTeoswb37GKsWGMr7a6Nzew"/>
		<title>{{ page.title }}</title>

		<meta name="description" content="{{ page.description }}"/>
		<meta property="og:image" content="{{ page.image }}"/>
		<meta property="og:description" content="{{ page.description }}"/>

		<link rel="alternate" type="application/rss+xml" href="http://byabbe.se/blog/atom.xml" title="Abbes Blog"/>
		<link rel="icon" href="/favicon.ico" type="shortcut icon"/>
		<link rel="stylesheet" href="/css/style.css"/>
	</head>
	<body>
{% include menu.html %}
		<article class="post container" style="padding-top: 60px;">
			<h2>{{ page.title }}</h2>
			{{ content }}
			<div class="share print-hidden">
				<a href="https://twitter.com/intent/tweet?url=http://byabbe.se{{ page.url }}&text={{ page.title }}%0A">Tweet Something? :-)</a>
		</article>
		<footer style="text-align: center;">
			<p>Copyright <a href="http://byabbe.se/">Albin Larsson</a> 2013-2017 • <a href="http://byabbe.se/archive.html">Archive</a> • <a href="http://byabbe.se/blog/atom.xml">RSS</a></p>
		</footer>

		<script src="/js/prism.js"></script>
		<link rel="stylesheet" href="/css/prism.css"/>
{% include global-javascript.html %}
	</body>
</html>
